<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">
          My dad and I were gifted a wood turning course as a christmas present in 2023, I got a little hooked and ended up with a lathe in my garage. Since then I've accumulated a bunch of things I turned. 
          Some people have expressed interest in what I've made so here it is, if you'd like any of it you can buy it, if you'd like to haggle please contact me.
        </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>My other stuff</h6>
        <ul class="footer-links">
          <li><a href="https://www.vaines.org/">My Blog</a></li>
          <li><a class="instagram" href="https://www.instagram.com/{{ .Site.Params.socialInstagram }}/" target="_blank">My Instagram</a>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="https://www.vaines.org/about/">About Me</a></li>
          <li><a href=https://www.vaines.org/contact/>Contact Me</a></li>
          <li><a href="/privacy/">Privacy Policy</a></li>
          <li><a href="/sitemap.xml">Sitemap</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">{{ site.Params.copyright | markdownify }}
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="instagram" href="https://www.instagram.com/{{ .Site.Params.socialInstagram }}/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>