<div class="product">
  <h2 class="product__name"><a name="{{ .name }}" href="#{{ .name }}">{{ .name }}</a></h2>
    {{ partial "carousel.html" (dict "context" . "items" "1" "height" "100" "unit" "%" "duration" "5000") }}

  <p class="product__description">
    {{ .description }}
  </p>

  <div class="product__button-container">
    {{ if eq .available true }}
      <div class="product__price">£{{ .price }}
        <a href="{{ .payment_url }}" class="buy-button">Buy</a>
      </div>
    {{ else }}
      <div class="product__price">
        <a class="buy-button buy-button-sold">Sold</a>
      </div>
    {{ end }}
  </div>
</div>
